.header {
    padding: 0 10px;
    background-color: var(--app-surface);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}
