/* =========================
   1. BOX MODEL
========================= */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* =========================
   2. RESET MARGINS
========================= */

* {
    margin: 0;
}

/* =========================
   3. ROOT SETTINGS
========================= */

html {
    line-height: 1.15; /* фикс iOS */
    -webkit-text-size-adjust: 100%; /* предотвращает zoom текста */
    tab-size: 4;
}

/* =========================
   4. BODY BASE
========================= */

body {
    min-height: 100vh;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;

    position: relative;
}

/* =========================
   5. TYPOGRAPHY RESET
========================= */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

p {
    overflow-wrap: break-word;
}

/* =========================
   6. LINKS
========================= */

a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}

/* =========================
   7. LISTS
========================= */

ul,
ol {
    list-style: none;
}

/* =========================
   8. MEDIA ELEMENTS
========================= */

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* =========================
   9. TABLES
========================= */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* =========================
   10. FORMS RESET
========================= */

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

/* убираем странные стили Safari */
button,
input {
    overflow: visible;
}

/* убираем uppercase в iOS */
button,
select {
    text-transform: none;
}

/* кнопки */
button {
    background: none;
    border: none;
    cursor: pointer;
}

/* textarea */
textarea {
    resize: vertical;
}

/* =========================
   11. REMOVE DEFAULT APPEARANCE
========================= */

/* iOS Safari */
input,
textarea,
select,
button {
    -webkit-appearance: none;
}

/* Firefox */
button,
input {
    appearance: none;
}

/* =========================
   12. INPUT FIXES
========================= */

/* убираем крестик в IE/Edge */
input::-ms-clear,
input::-ms-reveal {
    display: none;
}

/* autofill фон (Chrome) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

/* =========================
   13. SCROLL
========================= */

html:focus-within {
    scroll-behavior: smooth;
}

/* =========================
   14. SELECTION
========================= */

::selection {
    background-color: rgba(0, 0, 0, 0.1);
}

/* =========================
   15. ROOT APP CONTAINER
========================= */

#root {
    height: 100%;
    isolation: isolate; /* фикс z-index */
}