.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;

    padding: 10px 20px;

    font-size: 20px;

    transition: background-color 0.3s ease, color 0.3s ease;
    color: #fff;

    background-color: #2C82E7;
}

@media (hover: hover) {
    .button:hover {
        background-color: #fff;
        color: #000;
    }
}

.button[data-disabled] {
    background-color: #4e96ea;
    color: #fff;
    cursor: not-allowed;
}

.button:focus-visible {
    outline: 3px solid #081523;
}

.content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    visibility: hidden;
}