.layout {
    background: transparent;
    height: 700px;
}

.sider {
    background: transparent !important;
    padding-right: 16px;
}

.siderContent {
    height: 100%;
    min-height: 0;
}

.teacherTitle {
    margin: 0 !important;
}

.filtersTitle {
    margin: 0 !important;
}

.empty {
    height: 500px;
}

.searchInput {
    width: 220px;
}

.groupsSelect {
    width: 220px;
}